{% extends 'task_manager/layout.html' %}
{% load i18n %}
{% block title %}{% trans 'Users' %}{% endblock %}

{% block content %}
        <div class="mx-auto" style="width: 55%">
        {% include 'messages.html' %}
        <h1 class="my-4 text-center" style="color: white">{% trans 'Statuses' %}</h1>
        <a href="{% url 'create_status' %}"><button class="btn btn-info">{% trans 'AddStatus' %}</button></a>
        <table class="table mx-auto my-1 table-bordered table-hover table-dark">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>{% trans 'Name' %}</th>
                    <th>{% trans 'CreationData' %}</th>
                    <th></th>
                </tr>
            </thead>
            
            <tbody>
                {% for status in statuses %}
                <tr>
                    <td>{{ status.id }}</td>
                    <td>{{ status.name }}</td>
                    <td>{{ status.created_at }}</td>
                    <td>
                        <a href="{% url 'update_status' status.id %}"><button class="btn btn-info btn-sm">{% trans 'Change' %}</button></a>
                        <a href="{% url 'delete_status' status.id %}"><button class="btn btn-danger btn-sm">{% trans 'Delete' %}</button></a><br>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
{% endblock %}
